@import '_variables';
@mixin inputSize() {
  width: $input_width;
  border: none;
  border-radius: 3rem;
  padding: 2rem;
}

@mixin sortItem() {
  width: $item_width;
  line-height: $result_height;
  border-radius: 1rem;
  background-color: $item_color;
  margin-bottom: 2rem;
}

@mixin sortItemTitle($bg) {
  width: $result_title_width;
  height: $result_height;
  line-height: $result_height;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: $bg;
  padding: 0 1rem;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
