$bg_color: #e1e1e1;
$text_black: #262626;
$input_white: #ffffffd5;
$button_black: #8c8584;

$title_bg: #31593f;
$title_bg2: #01401c;

$item_color: #ededed;

$input_width: 38rem;
$item_width: 38rem;

$result_title_width: 9rem;
$result_height: 8rem;

$result_content_width: calc(38rem - 13rem);

$dateItem_width: 40rem;
